@import url("https://fonts.googleapis.com/css?family=Niconne|Poppins:300,400,500,600,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#about {
  padding: 2rem 15rem;
  margin: 2rem 0;
  background: #f7f7f7;
}

#about h1 {
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #about {
    padding: 1rem 1rem;
    margin: 1rem 0;
  }
}


.contact-width address {
  color: white;
}

.address {
  text-align: center;
  background: #d59a57;
  color: white;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}